.hero {
  position: relative;

  .rectangle-border {
    width: 97vw;
    height: 168.5vw;
    position: absolute;
    top: 0;
    z-index: 6;
    border: 3rem solid $primary-color-hsla;
  }

  .triangle-overlay {
    width: 100%;
    height: 95vh;
    position: absolute;
    z-index: 1;
    background: linear-gradient(
      to top,
      $primary-color-hsla,
      $secondary-color-hsla
    );
    clip-path: polygon(100% 0%, 100% 100%, 0% 95vh);
  }

  .triangle-overlay2 {
    position: absolute;
    z-index: 1;

    width: 80vw;
    height: 60vh;
    background-image: linear-gradient(
      to top,
      $primary-color-hsla,
      $secondary-color-hsla
    );
    @media all and (orientation: landscape) {
      width: 98vw;
    }

    color: black;

    &.icons {
      background-color: black;
      width: 2rem;
      height: 1rem;
      margin: 1rem 0;
    }
  }

  &__background {
    position: relative;
    height: 95vh;
    display: flex;
    z-index: 4;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        to top,
        $primary-color-hsla,
        $secondary-color-hsla
      ),
      url(../img/bmh001.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 50%, 50% 0, 100% 0%, 100% 50%, 50% 100%, 0 100%);
    @media all and (orientation: landscape) {
      clip-path: polygon(0 25%, 100% 0, 100% 0%, 100% 75%, 0% 100%, 0 100%);
    }

    .logo-img {
      z-index: 5;
      max-width: 32rem;

      @media all and (max-width: 32rem) {
        width: 100vw;
      }
    }
  }
}
