.fotos {
  background-color: $secondary-color;
  padding-bottom: 2rem;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    hsla(214, 100%, 49%, 0),
    rgb(81, 112, 177)
  );
  @media all and (orientation: landscape) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  @media all and (min-width: 960px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}
