.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  margin: 2rem;
  background-color: rgba($color: #000000, $alpha: 0.4);
  position: absolute;
  z-index: 5;
  border-radius: 50%;

  // reverse rotating menu-icon:
  animation-name: icon-rotate-reverse;
  animation-duration: 0.2s;

  &__stripe1 {
    flex: 0 1 auto;
    background-color: white;
    margin-bottom: 0.5rem;
    width: 2rem;
    height: 0.3rem;
    border-radius: 1rem;
  }

  &__stripe2 {
    background-color: white;
    width: 3rem;
    height: 0.3rem;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
  }

  &__stripe3 {
    background-color: white;
    width: 2rem;
    height: 0.3rem;
    border-radius: 1rem;
  }

  &:hover {
    animation-name: icon-rotate;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
  }
}
