.navmenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  visibility: hidden;

  &__items {
    height: 100vh;
    width: 100vw;
    // background-color: rgba($color: #000000, $alpha: 0.7);
    background: linear-gradient(
      to top,
      hsla(214, 100%, 49%, 1),
      hsla(174, 100%, 26%, 1)
    );
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-size: 2rem;
    &__item {
      color: black;
    }
  }
  &__items a:link,
  :visited {
    list-style: none;
    text-decoration: none;
    color: #333;
  }
}
